###############################################################################
# Set to Linux Line Endings
###############################################################################
core.autocrlf input